PORT=8080
HOST=127.0.0.1
NOTAVEZ_DB=/var/lib/notavez/notavez.db
NOTAVEZ_MASTER_KEY=
NOTAVEZ_PROXIES_CONFIAVEIS=127.0.0.1,::1
# Liberar somente após homologação oficial revisada:
NOTAVEZ_PRODUCAO_LIBERADA=0
NOTAVEZ_RESPONSAVEL=
NOTAVEZ_CONTATO_PRIVACIDADE=
NOTAVEZ_RETENCAO=
NOTAVEZ_RECUPERACAO_WEBHOOK=
NOTAVEZ_RECUPERACAO_WEBHOOK_TOKEN=
NOTAVEZ_ASSETLINKS_FILE=
